<ul class="social-media-list">
  {%- if site.github_username -%}
    <li>
      <a rel="me" href="https://github.com/{{ site.github_username | cgi_escape }}" title="{{ site.github_username }}">
        {% include svg/icon-github.html %}
        <span class="username">{{ site.github_username }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.twitter_username -%}
    <li>
      <a rel="me" href="https://twitter.com/{{ site.twitter_username | cgi_escape }}" title="{{ site.twitter_username }}">
        {% include svg/icon-twitter.html %}
        <span class="username">{{ site.twitter_username }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.substack_username -%}
    <li>
      <a rel="me" href="https://{{ site.substack_username | cgi_escape }}.substack.com" title="{{ site.substack_username }} on Substack">
        <svg class="svg-icon" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-label="Substack">
          <path d="M22.539 8.242H1.46V5.406h21.08v2.836zM1.46 10.812V24L12 18.11 22.54 24V10.812H1.46zM22.54 0H1.46v2.836h21.08V0z"/>
        </svg>
        <span class="username">Substack</span>
      </a>
    </li>
  {%- endif -%}
</ul>
